:root {
  // primary background and neumophism tone
  --f-primary: theme('colors.prim.2');
  --f-primary-lighter: theme('colors.prim.2-lighter');
  --f-primary-shadow: theme('colors.prim.2-shadow');
  --f-primary-highlight: theme('colors.prim.2-highlight');
  // primary text color - I might not use using negative text
  --t-primary: theme('textColor.prim.2');
  // Usually use for error color
  --f-error: theme('colors.red.500');
  --f-error-dark: theme('colors.red.900');
}
